*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}


body{

background:#0b0b0b;
color:white;

}



/* HEADER */

header{

position:absolute;
top:0;
left:0;
width:100%;
padding:25px 8%;

display:flex;
justify-content:space-between;
align-items:center;

z-index:10;

}


.logo{

font-size:30px;
font-weight:bold;
color:#d4af37;

}



nav a{

color:white;
text-decoration:none;
margin-left:25px;
font-size:16px;

}



nav a:hover{

color:#d4af37;

}



/* HERO */


.menu-banner{

height:75vh;

background:

linear-gradient(
rgba(0,0,0,.65),
rgba(0,0,0,.65)
),

url("https://images.unsplash.com/photo-1517248135467-4c7edcad34c4");


background-size:cover;
background-position:center;


display:flex;
align-items:center;
justify-content:center;
text-align:center;


}



.overlay h1{

font-size:60px;
color:#d4af37;
margin-bottom:15px;

}



.overlay p{

font-size:22px;

}




/* CATEGORY */


.menu-category{

padding:60px 8%;
text-align:center;

background:#111;

}


.menu-category h2{

font-size:38px;
color:#d4af37;
margin-bottom:30px;

}



.buttons button{

padding:14px 25px;
margin:8px;

border:none;
border-radius:30px;

background:#d4af37;
color:white;

font-size:16px;
cursor:pointer;

transition:.3s;

}



.buttons button:hover{

background:white;
color:black;

}




/* DISH AREA */


.dishes{

padding:60px 8%;

display:grid;

grid-template-columns:
repeat(auto-fit,minmax(330px,1fr));

gap:30px;

}



/* CARD */


.food-box{

background:white;
color:#222;

border-radius:20px;

padding:15px;

display:flex;

gap:15px;

align-items:center;

box-shadow:0 10px 30px rgba(0,0,0,.5);

transition:.4s;

}



.food-box:hover{

transform:translateY(-8px);

}




.food-box img{

width:130px;
height:130px;

border-radius:15px;

object-fit:cover;

}




.food-box h3{

font-size:22px;

margin-bottom:8px;

}




.food-box p{

font-size:14px;

color:#555;

}



.food-box h4{

font-size:24px;

color:#b8860b;

margin:10px 0;

}



.food-box button{


padding:10px 18px;

border:none;

border-radius:20px;

background:#d4af37;

color:white;

cursor:pointer;

}




.food-box button:hover{

background:black;

}




/* MOBILE */


@media(max-width:768px){


header{

flex-direction:column;

}


nav{

margin-top:15px;

}


.overlay h1{

font-size:38px;

}



.food-box{

flex-direction:column;
text-align:center;

}


}
