*{

margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;

}


body{

min-height:100vh;

display:flex;

justify-content:center;

align-items:center;


background:

linear-gradient(
rgba(0,0,0,.75),
rgba(0,0,0,.75)
),

url("https://images.unsplash.com/photo-1517248135467-4c7edcad34c4");


background-size:cover;
background-position:center;

color:white;

}




.success-box{

background:white;

color:#222;

width:450px;

padding:40px;

border-radius:30px;

text-align:center;

box-shadow:0 15px 40px rgba(0,0,0,.6);

}




.logo{

font-size:28px;

font-weight:bold;

color:#d4af37;

margin-bottom:25px;

}





.check{

width:80px;

height:80px;

background:#d4af37;

color:white;

border-radius:50%;

font-size:50px;

display:flex;

justify-content:center;

align-items:center;

margin:auto;

}





h1{

margin-top:25px;

color:#b8860b;

font-size:35px;

}



p{

margin-top:15px;

font-size:17px;

}




.order-info{

margin-top:30px;

background:#f5f5f5;

padding:20px;

border-radius:15px;

text-align:left;

}



.order-info h3{

color:#b8860b;

margin-bottom:15px;

}



.order-info span{

font-weight:bold;

}




a{

display:inline-block;

margin-top:30px;

padding:14px 35px;

border-radius:30px;

background:#d4af37;

color:white;

text-decoration:none;

}



a:hover{

background:#111;

}





@media(max-width:600px){

.success-box{

width:90%;

}

}
