*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, sans-serif;
}


body{

background:#080808;
color:white;

}



/* HEADER */

header{

position:absolute;
top:0;
width:100%;

padding:25px 8%;

display:flex;
justify-content:space-between;
align-items:center;

z-index:10;

}


.logo{

font-size:30px;
font-weight:bold;
color:#d4af37;

}



nav a{

color:white;
text-decoration:none;
margin-left:25px;

}



nav a:hover{

color:#d4af37;

}







/* HERO */

.hero{


height:70vh;


background:

linear-gradient(
rgba(0,0,0,.6),
rgba(0,0,0,.8)
),

url("https://images.unsplash.com/photo-1556761175-b413da4baf72");


background-size:cover;

background-position:center;


display:flex;

justify-content:center;

align-items:center;

text-align:center;


}



.hero h1{

font-size:65px;

color:#d4af37;

}



.hero p{

font-size:22px;

margin-top:20px;

}








/* TRACKING BOX */


.tracking-box{


width:90%;

max-width:600px;


margin:70px auto;


padding:40px;


background:

rgba(255,255,255,.10);


backdrop-filter:blur(15px);


border-radius:25px;


text-align:center;


border:1px solid rgba(212,175,55,.4);


}



.tracking-box h2{

color:#d4af37;

margin-bottom:30px;

}



input{


width:100%;


padding:15px;


margin:10px 0;


border-radius:12px;


border:none;


font-size:16px;


}



button{


width:100%;


padding:15px;


margin-top:15px;


border:none;


border-radius:30px;


background:#d4af37;


font-size:18px;


font-weight:bold;


cursor:pointer;


}



button:hover{

background:white;

}






/* RESULT */


.result{


padding:0 8% 80px;


}



.status-card{


background:white;

color:#222;


padding:40px;


border-radius:25px;


max-width:900px;


margin:auto;


box-shadow:0 15px 40px black;


}



.status-card h2{

color:#b8860b;

}



.status-card h3{

margin-top:30px;

color:#b8860b;

}






/* PROGRESS LINE */


.progress{


display:flex;

justify-content:space-between;

margin-top:40px;


position:relative;


}



.progress:before{


content:"";


position:absolute;


top:20px;

left:0;

width:100%;

height:5px;


background:#ddd;


z-index:0;


}





.step{


width:100px;

height:100px;


background:#ddd;


border-radius:50%;


display:flex;


align-items:center;


justify-content:center;


text-align:center;


font-size:14px;


position:relative;


z-index:1;


}




.step.active{


background:#d4af37;

color:white;


}






#documents{


margin-top:20px;


padding:20px;


background:#f5f5f5;


border-radius:15px;


}





@media(max-width:700px){


header{

flex-direction:column;

}



nav{

margin-top:15px;

}



.hero h1{

font-size:40px;

}



.progress{


flex-direction:column;

gap:20px;

}



.progress:before{

display:none;

}



.step{

margin:auto;

}


}
